
.navbar {
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  margin: 0px;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom:0;
  
}

.navLink {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
  font-family: "Roboto", Arial;
  text-decoration: none;
  color: #04AA6D;
  transition: 0.5s;
}

.navbarLinks {
    float: right;
    display: flex;
    gap: 2rem;
    padding-right: 1rem;
}

.navbarBrand {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.2s;
    font-family: "Roboto", Arial;
}

.navBrandLink {
    text-decoration: none;
    color: #04AA6D;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: 0.5s;
}

.navBrandLink:hover {
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #04AA6D;
  color: white;
  fill: white;
}

.navLink:hover {
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
  background-color: #04AA6D;
  border-radius: 20px;
  color: white;
}

input[type=search] {
  transition: 0.5s;
  border-radius: 0.1rem;
  border: 2px solid black;
  height: auto;
  padding-left: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color:#04AA6D;
}

input[type=search]:focus {
  outline: none;
  border:2px solid #04AA6D;
  border-radius: 20px;
}

.searchBtn {
  transition: 0.5s;
  border-radius: 0.1rem;
  border: 2px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: #04AA6D;
}

.searchBtn:hover {
  background-color: #04AA6D;
  border-radius: 20px;
  border:2px solid #04AA6D;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbarBrand {
    font-size: 1.2rem;
  }

  .navbarLinks {
    gap: 1rem;
  }

  .navLink {
    padding: 0.5rem;
  }
}

.logoImage {
  display: inline;
  padding-right: 0.2rem;
}

input {
  margin-right: 0.5rem;
}

/* .img {
  border: 1rem solid #ddd;
  border-radius: 4px;
  padding: 0rem;
  width: 4rem;
} */
